<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Policy | Phishnet</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<style>
		body {
			font-family: Arial, sans-serif;
			line-height: 1.6;
			margin: 20px;
			background-color: #000;
			color: #b9b7b7;
		}

		a {
			color: skyblue;
		}

		p {
			font-size: 20px;
		}

		ul {
			margin: 0;
			padding-left: 20px;
		}

		code {
			background: #f6f8c5;
			color: green;
			padding: 5px;
			font-weight: bold;
			border-radius: 3px;
		}
	</style>
</head>

<body>
	<p>This bot is designed to demonstrate phishing websites. It collects various types of data, including photos,
		clipboard information, location, and more. Additionally, the bot includes a face-recognition feature: if a user is
		in front of the camera, it will capture a photo of the user.
	</p>
	<p>
		Please Note: This tool is for educational purposes only. I and this tool do not take any responsibility for your
		activities or the data collected. Use this bot responsibly and ensure you have permission before capturing or
		processing any personal data.
	</p>
	<p>
		If you are using this bot and encountering issues, please first check our website’s ping section. Since we are
		hosting
		the app in a free tier, there may be occasional downtime or periods of inactivity that could affect the bot's
		responsiveness.
	</p>

	<h2>Disclaimer:</h2>
	<ul>
		<li><strong>Educational Use Only:</strong> PhishNet is for educational purposes. The developers are not responsible
			for any misuse or actions performed using this tool.</li>
		<li><strong>No Liability:</strong> We do not accept responsibility for any outcomes resulting from the use of
			PhishNet.</li>
	</ul>

	<p>If the bot is unresponsive, verify the status at <a
			href="https://phish.onrender.com/ping">https://phish.onrender.com/ping</a>.</p>
	<ul>
		<li><strong>Windows Command:</strong>
			<code>Invoke-WebRequest -Uri https://phish.onrender.com/ping | Select-Object -ExpandProperty content</code>
		</li>
		<li><strong>Linux Command:</strong> <code>curl -s https://phish.onrender.com/ping</code></li>
	</ul>

	<p>For questions or concerns, please contact <a href="mailto:security@cybrox.in">security@cybrox.in</a>.</p>
</body>

</html>