<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Policy | Phishnet</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<style>
		body {
			font-family: Arial, sans-serif;
			line-height: 1.6;
			margin: 20px;
			background-color: #000;
			color: #b9b7b7;
		}

		a {
			color: skyblue;
		}

		h1,
		h2,
		h3 {
			color: #fff;
		}

		ul {
			margin: 0;
			padding-left: 20px;
		}

		code {
			background: #f6f8c5;
			color: green;
			padding: 5px;
			font-weight: bold;
			border-radius: 3px;
		}
	</style>
</head>

<body>
	<h1>PhishNet Usage Policy</h1>

	<h2>1. Purpose:</h2>
	<p>PhishNet is designed to demonstrate phishing websites and collect educational data, including photos, clipboard
		information, and location data. It also uses face-recognition technology.</p>

	<h2>2. Data Collection and Identification:</h2>
	<ul>
		<li><strong>Unique ID:</strong> Each bot user is identified by a unique ID.</li>
		<li><strong>Target Information:</strong> Target data is sent to the bot user associated with the unique ID.</li>
		<li><strong>Change Handling:</strong> If the target or ID changes accidentally, the updated information will be sent
			to the new user or admin.</li>
	</ul>

	<h2>3. Data Handling:</h2>
	<ul>
		<li><strong>Unassigned ID:</strong> If no ID is set, all target information will be directed to the admin bot user.
		</li>
	</ul>

	<h2>4. User Responsibilities:</h2>
	<ul>
		<li><strong>Permission:</strong> Obtain explicit permission before using the bot on any system and for capturing
			personal data.</li>
		<li><strong>Responsible Use:</strong> Utilize PhishNet only for educational and research purposes.</li>
	</ul>

	<h2>5. Disclaimer:</h2>
	<ul>
		<li><strong>Educational Use Only:</strong> PhishNet is for educational purposes. The developers are not responsible
			for any misuse or actions performed using this tool.</li>
		<li><strong>No Liability:</strong> We do not accept responsibility for any outcomes resulting from the use of
			PhishNet.</li>
	</ul>

	<h2>6. Technical Issues:</h2>
	<p>If the bot is unresponsive, verify the status at <a
			href="https://phish.onrender.com/ping">https://phish.onrender.com/ping</a>.</p>
	<ul>
		<li><strong>Windows Command:</strong>
			<code>Invoke-WebRequest -Uri https://phish.onrender.com/ping | Select-Object -ExpandProperty content</code></li>
		<li><strong>Linux Command:</strong> <code>curl -s https://phish.onrender.com/ping</code></li>
	</ul>

	<h2>7. Contact Information:</h2>
	<p>For questions or concerns, please contact <a href="mailto:security@cybrox.in">security@cybrox.in</a>.</p>
</body>

</html>